doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Cambiar Contraseña
    link(rel='stylesheet' href='/stylesheets/unCentroCosto.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaUsuarios"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️

// .h3 Comienza tu prueba gratuita de 30 días ya mismo
// p o puedes comprar tu plan en Softlife ahora mismo

.container2
  form(action="guardarNuevoPass" method='POST')
    input(type='hidden' value= usuario.IdUsuario   name="idtemp")
    input(type='hidden' value= usuario.IdUsuario   name="IdUsuarioVer") 
    if tipoMensaje == 3
      label(class="lblError") Las contraseñas no coinciden
    if tipoMensaje == 1 
      label(class="ok") Datos guardados correctamento
    else  
      if tipoMensaje == 2
        label(class="lblError") Algo salio mal, los datos no se guardaron    
    h3 Mi Informacion
    .row
      .col-half
        h4 Nombre completo
          .input-group.input-group-icon
            input(type="text", name='nombreCompleto', readonly='readonly', value = usuario.nombreCompleto , placeholder="Nombre completo")
            .input-icon
              i.fa.fa-user
          h4 Nueva Contraseña
          .input-group.input-group-icon
            input(type="password",name='pass' , value = usuario.username , placeholder="Nueva Contraseña")
            .input-icon
              i.fa.fa-envelope
      .col-half
        h4 Nombre Usuario
        .input-group.input-group-icon
          input(type="text", name='nombreUsuario', readonly='readonly' , value = usuario.username,  placeholder="Nombre Usuario")
          .input-icon
            i.fa.fa-key
        h4 Confirmar Contraseña Nueva
        .input-group.input-group-icon
          input(type="password", name='confirmPass', value = '',  placeholder="Confirmar Contraseña Nueva")
          .input-icon
            i.fa.fa-key   

                           


      .row
        .input-group                                                
          input(type="submit", value="Guardar" class ="brnGuardar")

.container3
  .row
    .input-group    
      form(action="miPerfil" method='POST')    
        if usuario.esAdministrador == true
          input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")                     
          input(type="submit", value="Cancelar" class ="btnCancelar")



