doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Mi Perfil
    link(rel='stylesheet' href='/stylesheets/miPerfil.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaContactos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Contactos     
          a 
            form(action="verListaOficinas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Oficinas       
          a 
            form(action="verListaPuestos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Puestos                      
          if usuario.tipoUsuario == 1          
            a 
              form(action="verListaUsuarios"  method='POST')
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
                button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️

// .h3 Comienza tu prueba gratuita de 30 días ya mismo
// p o puedes comprar tu plan en Softlife ahora mismo

.container2
  form(action="guardarUsuario" method='POST')
    
    input(type='hidden' value= usuario.IdUsuario   name="idtemp") 
    input(type='hidden' value= usuario.IdUsuario   name="IdUsuarioVer") 
    
    h3 Mi Informacion
    .row
      .col-half
        h4 Nombre completo
          .input-group.input-group-icon
            input(type="text", name='nombreCompleto', value = usuario.nombreCompleto , placeholder="Nombre completo")
            .input-icon
              i.fa.fa-user
          h4 Nombre de usuario
          .input-group.input-group-icon
            input(type="username",name='username' , value = usuario.username , placeholder="Nombre de usuario")
            .input-icon
              i.fa.fa-envelope
      .col-half
        h4 Telefono
        .input-group.input-group-icon
          input(type="text", name='telefono', value = usuario.telefono,  placeholder="Telefono")
          .input-icon
            i.fa.fa-key
        h4 Email 
        .input-group.input-group-icon
          input(type="email", name='mail', value = usuario.mail,  placeholder="Email")
          .input-icon
            i.fa.fa-key   
      h4 Direccion 
      .input-group.input-group-icon
        input(type="text", name='direccion',  value = usuario.direccion,  placeholder="Direccion")
        .input-icon
          i.fa.fa-key   
      h4 Status
      .input-group 
        select(name = "status")
          if usuario.status == true
            option(class="opt" value = '1') Activo
            if usuario.tipoUsuario == 1 || usuario.tipoUsuario == 2 
              option(class="opt" value ='0') Inactivo
          else 
            option(class="opt" value = '0') Inactivo 
            if usuario.tipoUsuario == 1 
              option(class="opt" value = '1') Activo   
      h4 Tipo
      .input-group 
        select(name = "esAdministrador")
          if usuario.tipoUsuario == 1
            option(class="opt" value = '1') Administrador            
            option(class="opt" value ='2') Supervisor
            option(class="opt" value ='3') Lector
          if usuario.tipoUsuario == 2
            option(class="opt" value = '2') supervisor
          if usuario.tipoUsuario == 3
            option(class="opt" value = '3') Lector
      
      h4 franuicias Asignadas
      .input-group
        .contLabel
          if usuario.IdFranquicia == 0
            each lf in franquiciasListBox
              if lf.IdFranquicia > 0
                label(class="ptt" value = lf.IdFranquicia) #{lf.NombreFranquicia} ,
          else  
            each lf in franquiciasListBox
              if usuario.IdFranquicia == lf.IdFranquicia
                label(class="ptt" value = lf.IdFranquicia) #{lf.NombreFranquicia} 
                



                             


      .row
        .input-group                                                
          input(type="submit", value="Guardar" class ="brnGuardar")

.container3
  .row
    .input-group    
      form(action="cambiarPass" method='POST')    
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")    
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuarioVer")                  
        input(type="submit", value="Cambiar Contraseña" class ="btnCancelar")



