doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Mi Perfil
  link(rel='stylesheet' href='/stylesheets/miPerfil.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaUsuarios"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️

// .h3 Comienza tu prueba gratuita de 30 días ya mismo
// p o puedes comprar tu plan en Softlife ahora mismo

.container2
  form(action="guardarNuevoUsuario" method='POST')
    input(type='hidden' value= usuario.IdUsuario   name="idtemp") 
    input(type='hidden' value= usuarioVer.IdUsuario   name="IdUsuarioVer") 

    if tipoMensaje == 3
      label(class="lblError") Las contraseñas con coinciden

    if tipoMensaje == 1 
      label(class="ok") Datos guardados correctamento
    else  
      if tipoMensaje == 2
        label(class="lblError") Algo salio mal, los datos no se guardaron
    h3 Informacion del Usuario 
    .row
      .col-half
        h4 Nombre completo
          .input-group.input-group-icon
            input(type="text",name='nombreCompleto', value = usuarioVer.nombreCompleto , placeholder="Nombre completo")
            .input-icon
              i.fa.fa-user
          h4 Nombre de usuario
          .input-group.input-group-icon
            input(type="text",name='username',  value = usuarioVer.username , placeholder="Nombre de usuario")
            .input-icon
              i.fa.fa-envelope
          h4 Contraseña
          .input-group.input-group-icon
            input(type="password", name='pass', value = usuarioVer.pass ,  placeholder="Contraseña")
            .input-icon
              i.fa.fa-envelope              
      .col-half
        h4 Telefono
        .input-group.input-group-icon
          input(type="text",name='telefono', value = usuarioVer.telefono,  placeholder="Telefono")
          .input-icon
            i.fa.fa-key
        h4 Email 
        .input-group.input-group-icon
          input(type="email",name='mail', value = usuarioVer.mail,  placeholder="Email")
          .input-icon
            i.fa.fa-key 
        h4 Confirme Contraseña 
        .input-group.input-group-icon
          input(type="password",name='confirmPass',  usuarioVer.pass, placeholder="Confirme Contraseña")
          .input-icon
            i.fa.fa-key                
      h4 Direccion 
      .input-group.input-group-icon
        input(type="text",name='direccion',  value = usuarioVer.direccion,  placeholder="Direccion")
        .input-icon
          i.fa.fa-key                  
      h4 Status
      .input-group 
        select(name = "status")
          if usuarioVer.status == true
            option(class="opt" value = '1') Activo
            if usuario.esAdministrador == true
              option(class="opt" value ='0') Inactivo
          else 
            option(class="opt" value = '0') Inactivo 
            if usuario.esAdministrador == true
              option(class="opt" value = '1') Activo   
      h4 Tipo
      .input-group 
        select(name = "esAdministrador")
          if usuarioVer.esAdministrador == true
            option(class="opt" value = '1') Administrador
            if usuario.esAdministrador == true
              option(class="opt" value ='0') Lector
          else 
            option(class="opt" value = '0') Lector 
            if usuario.esAdministrador == true
              option(class="opt" value = '1') Administrador                        

    .row
      .input-group        
        if usuario.esAdministrador == true                 
          input(type="submit", value="Guardar" class ="brnGuardar")
         
  .container3
    .row
      .input-group    
        form(action="nuevoUsuario" method='POST')    
          input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")    
          if usuario.esAdministrador == true                       
            input(type="submit", value="Nuevo" class ="brnNuevo")

