doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Usuario
  link(rel='stylesheet' href='/stylesheets/genericoUnoSolo.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaContactos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Contactos     
          a 
            form(action="verListaOficinas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Oficinas   
          a 
            form(action="verListaPuestos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Puestos                             
          if usuario.tipoUsuario == 1          
            a 
              form(action="verListaUsuarios"  method='POST')
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
                button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️

// .h3 Comienza tu prueba gratuita de 30 días ya mismo
// p o puedes comprar tu plan en Softlife ahora mismo
.container2
  form(action="guardarUsuario" method='POST')
    input(type='hidden' value= usuario.IdUsuario   name="idtemp") 
    input(type='hidden' value= usuarioVer.IdUsuario   name="IdUsuarioVer")     

    if tipoMensaje == 1 
      label(class="ok") Datos guardados correctamente
    else  
      if tipoMensaje == 2
        label(class="lblError") Algo salio mal, los datos no se guardaron
    if tipoMensaje == 10
      label(class="lblError") Ese nombre de correo electronico no es valido '#{correoMal} '
      br
      label(class="lblError") Solo debe de poner lo que va antes de @        
    h3 Informacion del Usuario 
    .row
      h4 Nombre completo
          .input-group.input-group-icon
            input(type="text",name='nombreCompleto', value = usuarioVer.nombreCompleto , placeholder="Nombre completo", required)
            .input-icon
              i.fa.fa-user
      .col-half
      
        h4 Nombre de usuario
        .input-group.input-group-icon
          input(type="text",name='username',  value = usuarioVer.username , placeholder="Nombre de usuario", required)
          .input-icon
            i.fa.fa-envelope
        h4 Email 
          .input-group.input-group-icon
            if tipoMensaje == 10              
              input(type="text", name='mail', value = errorMail,  placeholder="Email", class="email1")
              input(type="text",name='dominio', value = '@dominosgda.com',  placeholder="Email", class="email", readonly)               
            else                         
              input(type="text", name='mail', value = usuarioVer.mail,  placeholder="Email", class="email1")
              input(type="text",name='dominio', value = '@dominosgda.com',  placeholder="Email", class="email", readonly)  
            .input-icon
              i.fa.fa-key 
      .col-half
        h4 Telefono
        .input-group.input-group-icon
          input(type="text",name='telefono',  value = usuarioVer.telefono,  placeholder="Telefono")
          .input-icon
            i.fa.fa-key
        h4 Contraseña email 
        .input-group.input-group-icon
          input(type="password",name='passMail',  value = usuarioVer.passMail,  placeholder="Contraseña email")
          .input-icon
            i.fa.fa-key 
      h4 Direccion 
      .input-group.input-group-icon
        input(type="text",name='direccion',  value = usuarioVer.direccion,  placeholder="Direccion")
        .input-icon
          i.fa.fa-key                  
      h4 Status
      .input-group 
        select(name = "status")
          if usuarioVer.status == true
            option(class="opt" value = '1') Activo
            if usuario.tipoUsuario == 1
              option(class="opt" value ='0') Inactivo
          else 
            option(class="opt" value = '0') Inactivo 
            if usuario.tipoUsuario == 1
              option(class="opt" value = '1') Activo   
      h4 Tipo
      .input-group 
        select(name = "esAdministrador")
          if usuarioVer.tipoUsuario == 1
            option(class="opt" value = '1') Administrador  
            option(class="opt" value = '2') Supervisor
            option(class="opt" value = '3') Lector
          if usuarioVer.tipoUsuario == 2
            option(class="opt" value = '2') Supervisor               
            option(class="opt" value = '3') Lector
            option(class="opt" value = '1') Administrador  
          if usuarioVer.tipoUsuario == 3
            option(class="opt" value = '3') Lector
            option(class="opt" value = '2') Supervisor
            option(class="opt" value = '1') Administrador  

      h4 Franquicia asignada
      .input-group 
        select(name = "IdFranquicia")  
          each lf in franquiciasListBox
            if lf.IdFranquicia == usuarioVer.IdFranquicia
              option(class="opt" value = lf.IdFranquicia) #{lf.NombreFranquicia}                                             
          each lf in franquiciasListBox
            option(class="opt" value = lf.IdFranquicia) #{lf.NombreFranquicia}            

                 

    .row
      .input-group        
        if usuario.tipoUsuario == 1                 
          input(type="submit", value="Guardar" class ="brnGuardar")
         
.container3
  .row
    .input-group    
      form(action="nuevoUsuario" method='POST')    
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")    
        if usuario.tipoUsuario == 1                    
          input(type="submit", value="Nuevo" class ="brnNuevo")

.container3
  .row
    .input-group    
      form(action="cambiarPass" method='POST')    
        input(type='hidden' value= usuarioVer.IdUsuario   name="IdUsuarioVer") 
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")    
        if usuario.tipoUsuario == 1                    
          input(type="submit", value="Cambiar contraseña" class ="btnCambiarPss")


.container3
  .row
    .input-group    
      
      form(action="verListausuarios" method='POST')    
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")                     
        input(type="submit", value="Cancelar" class ="btnCancelar")    