doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Empresa
    link(rel='stylesheet' href='/stylesheets/genericoUnoSolo.css')
  body
    header.header
      .container
        .btn-menu
          label(for='btn-menu') ☰
        .logo
          h1 Administrar
        nav.menu
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Inicio
          a
            form(action="miPerfil"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Mi perfil
          a 
            form(action="about"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Acerca de          
          a
            form(action="irLogin"  method='GET')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") LogOut
    .capa
    // -------------
    input#btn-menu(type='checkbox')
    .container-menu
      .cont-menu
        nav
          a
            form(action="verListaEmpresas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario  name="IdUsuario")
              button(type="submit" class="btnMenu") Empresas
          a 
            form(action="verListaFranquicias"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Franquicias
          a 
            form(action="verListaTipoUnidad"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")
              button(type="submit" class="btnMenu") Tipos de Unidades
          a 
            form(action="verListaCentrosCosto"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Centros de Costo
          a 
            form(action="verListaContactos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Contactos     
          a 
            form(action="verListaOficinas"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Oficinas    
          a 
            form(action="verListaPuestos"  method='POST')
              input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
              button(type="submit" class="btnMenu") Puestos                            
          if usuario.tipoUsuario == 1          
            a 
              form(action="verListaUsuarios"  method='POST')
                input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
                button(type="submit" class="btnMenu") Usuarios
  
        label(for='btn-menu') ✖️



.container2
  form(action="guardarEmpresa" method='POST')
    input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
    input(type='hidden' value= empresa.idEmpresa   name="IdEmpresa") 
    if tipoMensaje == 3
      label(class="lblError") Las contraseñas con coinciden

    if tipoMensaje == 1 
      label(class="ok") Datos guardados correctamente
    else  
      if tipoMensaje == 2
        label(class="lblError") Algo salio mal, los datos no se guardaron    
    h3 Informacion de la Empresa
    .row
      .col-half
        h4 Nombre Empresa
          .input-group.input-group-icon
            input(type="text" , name='nombreEmpresa', value = empresa.nombreEmpresa , placeholder="Nombre Empresa")
            .input-icon
              i.fa.fa-user
        h4 Calle
        .input-group.input-group-icon
          input(type="text", , name='domicilio', value = empresa.domicilio,  placeholder="Domicilio")
          .input-icon
            i.fa.fa-key
        h4 Numero Exterior
          .input-group.input-group-icon
            input(type="text", name='numeroExterior', value = empresa.numeroExterior , placeholder="Numero Exterior")
            .input-icon
              i.fa.fa-envelope
        h4 Ciudad
          .input-group.input-group-icon
            input(type="text", name='ciudad' value = empresa.ciudad , placeholder="Ciudad")
            .input-icon
              i.fa.fa-envelope
        
        h4 Pais
        .input-group.input-group-icon
          input(type="text", name='pais', value = empresa.pais , placeholder="Pais")
          .input-icon
            i.fa.fa-envelope
 
      .col-half
        h4 Status
        .input-group 
          select(name = "status")           
            if empresa.status == true
              option(class="opt" value = '1') Activo
              if usuario.tipoUsuario  == 1
                option(class="opt" value ='0') Inactivo
            else 
              option(class="opt" value = '0') Inactivo 
              if usuario.tipoUsuario == 1
                option(class="opt" value = '1') Activo
          

        h4 Numero Interior
        .input-group.input-group-icon
          input(type="text", name='numeroInterior', value = empresa.numeroInterior , placeholder="Numero Interior")
          .input-icon
            i.fa.fa-envelope
        h4 Colonia
          .input-group.input-group-icon
            input(type="text", name='colonia', value = empresa.colonia , placeholder="Colonia")
            .input-icon
              i.fa.fa-envelope
        h4 Estado
          .input-group.input-group-icon
            input(type="text", name='estado', value = empresa.estado , placeholder="Estado")
            .input-icon
              i.fa.fa-envelope
        h4 CP
          .input-group.input-group-icon
            input(type="text", name='CP', value = empresa.CP , placeholder="Codigo Postal")
            .input-icon
              i.fa.fa-envelope
    .row
      .input-group    
        //form(action="guardarEmpresa" method='POST')    
        //input(type='hidden' value= usuario.IdUsuario   name="IdUsuario") 
        if usuario.tipoUsuario == 1  || guardar == 1            
          input(type="submit", value="Guardar" class ="brnGuardar")

.container3
  .row
    .input-group    
      form(action="nuevaEmpresa" method='POST')    
        if usuario.tipoUsuario == 1 || usuario.tipoUsuario == 2 
          input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")   
          input(type='hidden' value= 1   name="guardar")                  
          input(type="submit", value="Nuevo" class ="brnNuevo")

.container3
  .row
    .input-group    
      form(action="verListaEmpresas" method='POST')    
        input(type='hidden' value= usuario.IdUsuario   name="IdUsuario")                     
        input(type="submit", value="Cancelar" class ="btnCancelar")          